
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row form-group">
            <h1>设置工作流</h1>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <select class="form-control col-md-2" id="optionLive">
                    <option>请假</option>
                    <option>旷工</option>
                </select>
            </div>

            <div class="col-md-6">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <div class="table-bordered">
                    <label class="radio-inline">
                        <input type="radio" value="oen" name="days"> 1天以下
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="two" name="days"> 2天以下
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="three" name="days"> 3天以下
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="four" name="days"> 3天以上
                    </label>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label class="radio-inline">
                    <input type="radio" value="oneLevel" id="one" checked="checked" name="audit"> 一级审核
                </label>
                <label class="radio-inline">
                    <input type="radio" value="twoLevel" id="two" name="audit"> 二级审核
                </label>
                <label class="radio-inline">
                    <input type="radio" value="threeLevel" id="three" name="audit"> 三级审核
                </label>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <select class="form-control col-md-2" id="dd1" name="selAduit">
                    <option>选择一级审核</option>
                </select>
                <select class="form-control col-md-2" id="dd2" name="selAduit">
                    <option>选择二级审核</option>
                </select>
                <select class="form-control col-md-2" id="dd3" name="selAduit">
                    <option>选择三级审核</option>
                </select>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <input type="button" value="保存工作流程" id="save" />
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        var selVal = $("input[name='audit']:checked").val();
        if (selVal == 'oneLevel') {
            $("#dd1").show();
            $("#dd2").hide();
            $("#dd3").hide();
        }
        if (selVal == 'twoLevel') {
            $("#dd1").show();
            $("#dd2").show();
            $("#dd3").hide();
        }
        if (selVal == 'threeLevel') {
            $("#dd1").show();
            $("#dd2").show();
            $("#dd3").show();
        }

        $("#one").click(function () {
            $("#dd1").show();
            $("#dd2").hide();
            $("#dd3").hide();
        })
        $("#two").click(function () {
            $("#dd1").show();
            $("#dd2").show();
            $("#dd3").hide();
        })
        $("#three").click(function () {
            $("#dd1").show();
            $("#dd2").show();
            $("#dd3").show();
        })

        $("#save").click(function () {
            var first = $("#optionLive").val();
            var secondVal = $("input[name='audit']:checked").val();
            var three = $("select[name='selAduit']:visible").val();

            var three1 = $("#dd1").val();
            var three2 = $("#dd2").val();
            var three3 = $("#dd3").val();


        })
    })
</script>


